<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Standard Meta -->
  	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Spring Boot Blog</title>
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css"></link>
    <!-- <link rel="stylesheet" type="text/css" href="homepage.css"> -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="../js/semantic.min.js"></script>
    <!-- <script src="homepage.js"></script> -->
</head>
<body>
	<h1>Create a new post</h1>
	<form action="#" th:action="@{/createPost}" th:object="${post}" method="post">
		<p>Title: <input type="text" th:field="*{title}" /></p>
		<p>Content: <input type="textarea" th:field="*{content}"/></p>
		<p><input type="submit" value="Post"/></p>
	</form>
</body>
</html>